@using FutterautomatenDatenbank.Models

@inject IFutterautomatenEFCoreRepository FutterautomatenEFCoreRepository

<div class="container">
    <div class="row">
        <div class="col-3">
            <div>Ersteller: @personName</div>
            <div>Aquarium: @aquariumName</div>
            <div>Futter Faktor: @futterFaktor</div>
        </div>
        <div class="col-3">
            <div>Futter: @futterName</div>
            <div>Anzahl Fütterungen: @fuetterungen</div>
        </div>
    </div>

</div>



@code {
    [CascadingParameter(Name = "FutterautomatId")]
    public int Id { get; set; }

    Futterautomat? futterautomat;
    string personName = string.Empty;
    string aquariumName = string.Empty;
    string futterName = string.Empty;
    int fuetterungen = 0;
    float futterFaktor = 0;


    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            futterautomat = FutterautomatenEFCoreRepository.GetFutterautomat(Id);
            personName = futterautomat?.Person?.Name ?? "na";
            aquariumName = futterautomat?.Aquarium?.Name ?? "na";
            futterName = futterautomat?.Futter?.FutterName ?? "na";
            fuetterungen = (futterautomat.Fuetterungen is null) ? 0 : futterautomat.Fuetterungen.Count;
            futterFaktor = futterautomat.FutterFaktor;



            StateHasChanged();
        }
    }


}
