@page "/neuerfutterautomat/{PersonId:int}"
@page "/neuerfutterautomat/update/{FutterautomatId:int}"


@rendermode InteractiveServer
@inject IFutterautomatenEFCoreRepository FutterautomatenEFCoreRepository
@inject NavigationManager navigationManager
@using FutterautomatenDatenbank.Context
@using FutterautomatenDatenbank.Models

<h3 class="text-center">@((FutterautomatId >= 0) ? "Futterautomat anpassen" : "Neuen Futterautomat erstellen")</h3>

<form>
    <div class="form-group">
        <label for="bezeichnung">Bezeichnung</label>
        <input type="text" class="form-control" id="bezeichnung" @bind="BezeichnungFutterautomat">
    </div>
    <br />
    <div class="form-group">
        <label for="ControlSelect1">Futter</label>
        @if (futterArten is not null && futterArten.Count > 0)
        {
            <select class="form-control" id="ControlSelect1">
                @foreach (var futterArt in futterArten)
                {
                    <option value="@futterArt.FutterName">@futterArt.FutterName</option>
                }
            </select>
        }
        <br />
        <a href="/neuesfutter" class="btn btn-primary">Neues Futter</a>
    </div>
    <br />
    <div class="form-group">
        <label for="faktorFuetterungen">Faktor Fütterungen</label>
        <input type="number" class="form-control" id="faktorFuetterungen" @bind="FaktorFuetterungen">
    </div>
    <br />
    <div class="form-group">
        <label for="ControlSelect2">Aquarium</label>
        @if (aquarien is not null && aquarien.Count > 0)
        {
            <select class="form-control" id="ControlSelect2" @onchange="OnAquariumSelected">
                @foreach (var aquarium in aquarien)
                {
                    <option value="@aquarium.Name">@aquarium.Name</option>
                }
            </select>
        }
        <br />
        <a class="btn btn-primary" @onclick="NeuesAquarium">Neues Aquarium</a>

    </div>



    <br /><br />
    <button type="button" class="btn-primary" @onclick="Save">Speichern</button>
</form>

@code {
    string s = "";
    [Parameter]
    public int FutterautomatId { get; set; } = -1;

    [Parameter]
    public int PersonId { get; set; }

    string ausgewaehltesAquarium = string.Empty;

    public float FaktorFuetterungen { get; set; } = 1;

    public string BezeichnungFutterautomat { get; set; } = string.Empty;

    private List<Aquarium>? aquarien;
    private List<Futter>? futterArten;

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            //Initialisere Listen
            aquarien = FutterautomatenEFCoreRepository.GetAquarien();
            futterArten = FutterautomatenEFCoreRepository.GetFutter();
            ausgewaehltesAquarium = aquarien.First().Name;

            if (FutterautomatId > 0)
            {
                var futterautomat = FutterautomatenEFCoreRepository.GetFutterautomat(FutterautomatId);
                BezeichnungFutterautomat = futterautomat.Bezeichnung;
                FaktorFuetterungen = futterautomat.FutterFaktor;
            }

            StateHasChanged();
        }
    }

    private void NeuesAquarium()
    {
        if (FutterautomatId > 0) navigationManager.NavigateTo($"/neuesaquarium/{FutterautomatId}");
    }
    private void OnAquariumSelected(ChangeEventArgs e)
    {
        ausgewaehltesAquarium = e.Value.ToString();
    }

    //Speichern / Aktualisieren Futterautomat
    private void Save()
    {
        if (FutterautomatId > 0)
        {
            var neuerFutterautomat = new Futterautomat()
                {
                    Bezeichnung = BezeichnungFutterautomat,
                    FutterFaktor = FaktorFuetterungen,
                    //Fuetterungen = ?;
                };

            FutterautomatenEFCoreRepository.UpdateFutterautomat(FutterautomatId, neuerFutterautomat);
            //UpdateFutter();
            UpdateFutterautomat(neuerFutterautomat);
            UpdateAquarium();
        }
        navigationManager.NavigateTo("/");
    }


    private void UpdateFutter()
    {

    }
    private void UpdateAquarium()
    {
        Aquarium aquarium;
        if(ausgewaehltesAquarium != "")
        {

            aquarium = FutterautomatenEFCoreRepository.GetAquarien().First(a => a.Name == ausgewaehltesAquarium);
            var futterautomat = FutterautomatenEFCoreRepository.GetFutterautomat(FutterautomatId);
            aquarium.Futterautomaten.Add(futterautomat);

            FutterautomatenEFCoreRepository.UpdateAquarium(aquarium);  
        }

    }

    private void UpdateFutterautomat(Futterautomat futterautomat)
    {
        futterautomat.FutterautomatId = FutterautomatId;
        FutterautomatenEFCoreRepository.UpdateFutterautomat(FutterautomatId, futterautomat);
    }

    private void UpdatePerson()
    {
        
    }

}
